
#intro {
    height: 100%;
}

#intro {
    background: url("../img/mountains.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.view .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.rgba-black-strong {
    background-color: rgba(0,0,0,0.5);
}

.white-text {
  color: white;
}


html {
  height: 100%
}

body {
  height: 100%;
  padding-top: 60px;
}

/*
-------------------------------------------------
NAVBAR
-------------------------------------------------
*/


#navbarProfileDropdown {
  padding-top: 0px;
  padding-bottom: 0px;
}

#profile-img {
  height: 40px;
  width: 40px
}

/*
-------------------------------------------------
RISKLOG
-------------------------------------------------
*/

#risklog-table .btn-sm {
  font-size: 0.8rem;
  margin: 1px;
}

#risklog-table .green {
  background-color: #b6ffb6 !important;
}

#risklog-table .yellow {
  background-color: #fffbb6 !important;
}

#risklog-table .amber {
  background-color: #ffcc85 !important;
}

#risklog-table .red {
  background-color: #ffb6b6 !important;
}


/*
-------------------------------------------------
ADD RISK MODAL
-------------------------------------------------
*/

.form-input-error {
  color: red;
}

/*
-------------------------------------------------
RISKMAP
-------------------------------------------------
*/

#riskmap_graph {
  width: 500px;
  height: 500px
}

.axis-title {
  fill: #999999;
}

text {
  font-size: 2em;
  fill: #999999;
}

circle:hover {
  fill: white;
}
